<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperHero</title>
</head>
<body>
    <h1>
        Fiche d'un incident
    </h1>
    <div>
        
    </div>
    <div>
        <label for="NomVille">Nom de la ville</label>
        <input type="text" name="NomVille" id="NomVille" value="">
    </div>
    <div>
        <label for="TypeIncident">Type d'incident</label>
        <input type="text" name="TypeIncident" id="TypeIncident" value="">
    </div>
</body>
</html>