<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListeIncident</title>
</head>
<body>
    <h1>
        Liste d'incidents (test affichage)
    </h1> 
    <h2>Capacités à résoudre des incidents:</h2>
    <ul>
        <li th:each="typeIncident : ${typeIncidents}" th:text="${typeIncident.nom}"></li>
    </ul>
</body>
</html>


