<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maitrise</title>
</head>
<body>
    <h1>
       Capacités du SuperHéro
    </h1>
    <p>Nom du SuperHéro: </p>
    <p th:text="${superHero.nom}"></p>
    <div>
        <table>
            <thead>
                <tr>
                    <th text="Type d'Incident">Incident</th>
                    <th text="Niveau">Niveau</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="superHeroTypeIncident : ${superHeroTypeIncident}">
                    <td th:text="${superHeroTypeIncident.typeIncident.nom}"></td>
                    <td th:text="${superHeroTypeIncident.niveau}"></td>
                </tr>
            </tbody>
        </table>       
    </body>
</html>