<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperHero</title>
</head>
<body>
    <h1>
        Fiche d'inscription de SuperHero
    </h1>
    
    <form method="post" action="/AjouteSuperHero">
        <label for="nom">Nom</label>
        <input type="text" name="nom" id="nom" value="">

        <label for="numeroTel">N° Téléphone</label>
        <input type="text" name="numeroTel" id="numeroTel" value="">

        <label for="ville">Ville</label>
        <input type="text" name="ville" id="ville" value="">

        <label for="longitude">Longitude</label>
        <input type="text" name="longitude" id="longitude" value="">

        <label for="latitude">Latitude</label>
        <input type="text" name="latitude" id="latitude" value="">

        <label for="logIn">LogIn</label>
        <input type="text" name="logIn" id="logIn" value="">

        <label for="motDePasse">Mot de passe</label>
        <input type="text" name="motDePasse" id="motDePasse" value="">

        <input type="submit" value="Créer">
    </form>
    
    <h2>Capacités à résoudre des incidents</h2>
    <h3>Veuillez renseigner entre trois et six compétences parmi la liste ci dessous.</h3>
    <h3>Sélectionnez les incidents, estimez votre capacité à les résoudre et cochez le niveau correspondant:</h3>
    <h3>Niveau 1: Maîtrise moyenne     Niveau 2: Bonne Maîtrise     Niveau 3: Forte Maîtrise</h3>
    
    <form method="post" action="/AjouteCapacitesSuperHero">
        <table>
            <thead>
                <tr>
                    <th text="Type d'Incident">Incident</th>
                    <th text="Sélection">Selection</th>
                    <th text="Niveau">Niveau</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="typeIncident : ${typeIncidents}">
                    <td th:text="${typeIncident.nom}"></td>
                    <td>
                        <div>
                            <input type="checkbox" id="selection" name="${typeIncident.nom}.selection">
                        </div>
                    </td>
                    <td>
                        <div>
                            <input type="radio" id="niveau1" th:name="${typeIncident.nom}" value="1">
                            <label for="niveau1">Maîtrise Moyenne</label>
                            <input type="radio" id="niveau2" th:name="${typeIncident.nom}" value="2">
                            <label for="niveau2">Bonne Maîtrise</label>
                            <input type="radio" id="niveau3" th:name="${typeIncident.nom}" value="3">
                            <label for="niveau3">Forte Maîtrise</label>
                            
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <button type="reset">
               <strong>Reset</strong>
            </button> 
        </div>
        <div>         
            <input type="submit" value="Envoyer">
        </div>
    </form>
</body>
</html>
