<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperHero</title>
</head>
<body>
    <h1>
        Fiche d'inscription de SuperHero
    </h1>
    
    <form method="post" action="/AjouteSuperHero">
        <label for="nom">Nom</label>
        <input type="text" name="nom" id="nom" value="">

        <label for="numeroTel">N° Téléphone</label>
        <input type="text" name="numeroTel" id="numeroTel" value="">

        <label for="ville">Ville</label>
        <input type="text" name="ville" id="ville" value="">

        <label for="longitude">Longitude</label>
        <input type="text" name="longitude" id="longitude" value="">

        <label for="latitude">Latitude</label>
        <input type="text" name="latitude" id="latitude" value="">

        <label for="logIn">LogIn</label>
        <input type="text" name="logIn" id="logIn" value="">

        <label for="motDePasse">Mot de passe</label>
        <input type="text" name="motDePasse" id="motDePasse" value="">

        <input type="submit" value="Créer">
    </form>
    
    <h2>Capacités à résoudre des incidents</h2>
    <h3>Veuillez renseigner entre trois et six compétences parmi la liste ci dessous.</h3>
    <h3>Pour les renseigner, estimez votre capacité à résoudre ces incidents et cochez le niveau correspondant:</h3>
    <h3>Niveau 1: Maîtrise moyenne     Niveau 2: Bonne Maîtrise     Niveau 3: Forte Maîtrise</h3>
    
    <table>
        <thead>
            <tr>
                <th text="Type d'Incident">Incident</th>
                <th text="Sélection">Selection</th>
                <th text="Niveau">Niveau</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="typeIncident : ${typeIncidents}">
                <td th:text="${typeIncident.nom}"></td>
                <td text="case a cocher"></td>
                <td>
                    <div>
                        <input type="radio" id="1" name="niveau" value="1">
                        <label for="1">Maîtrise moyenne</label>
                        <input type="radio" id="2" name="niveau" value="2">
                        <label for="2">Bonne Maîtrise</label>
                        <input type="radio" id="3" name="niveau" value="3">
                        <label for="3">Forte Maîtrise</label>
                    </div>
                </td>
            </tr>
        </tbody>
        </table>
</body>
</html>
